.custom-dark-blue-button {
  background-color: #00008b; /* Dark blue color */
  color: white; /* Text color */
  border: none; /* Remove border if needed */
}

.custom-dark-blue-button:hover {
  background-color: #000080; /* Darker blue on hover */
}